.button {
  cursor: pointer;

  & svg {
    width: 24px;
    height: 24px;
  }
}

.onlyIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    fill: var(--light-overlay-80);
  }
}

.filled {
  background-color: var(--subtle-white-8);

  &:hover {
    background-color: var(--light-overlay-20);

    & svg {
      fill: var(--primary-blue);
    }
  }

  &:active {
    background-color: var(--subtle-white-8);
  }
}

.filled.onlyIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.outlined {
  &:hover {
    color: var(--primary-blue);

    & svg {
      fill: var(--primary-blue);
    }
  }

  &:active {
    color: var(--color-text-bold);

    & svg {
      fill: var(--light-overlay-80);
    }
  }
}